li class="#{"disabled " if current_page.last?}page-item"
  span.page-link
    = link_to_unless(current_page.last?,
                    raw(t("views.pagination.next")),
                    url,
                    rel: "next",
                    remote: remote)
