//*= require trix

@import "bootstrap";
@import "user_form";

$bg-color: #eee;
$container-bg-color: #fff;

body {
  background-color: $bg-color;
}

.main-container {
  background-color: $container-bg-color;
}
