@import "bootstrap";
@import "sign_in";
@import "sign_up";
@import "communities";

$bg-color: #eee;
$container-bg-color: #fff;

body {
  background-color: $bg-color;
}

.main-container {
  background-color: $container-bg-color;
}
