//*= require trix

@import "bootstrap";
@import "user_form";

$bg-color: #eee;
$container-bg-color: #fff;
$reviews-color: #555;


body {
  background-color: $bg-color;
}

.avatar-sm { max-width: 32px; }

// .jumbotron {
//   background-image: asset_url("home-image.jpg");
//   background-position: 0% 40%;
//   background-size: cover;
// }

.main-container {
  background-color: $container-bg-color;
}

.thumbnail {
  width: auto;
  max-width: 344px;
  height: auto;
  max-height: 225px;
}

.media-body {
  position: relative;
}

.media-date {
  position: absolute;
  top: 25px;
  right: 25px;
}

.media-object { max-width: 100px; }
.media-object-sm { max-width: 64px; }

.reviews {
  margin: 10px auto 20px;
  color: $reviews-color;
  font-weight: bold;
}
